# Codelite
**/.codelite
.codelite/.tern-port
.codelite/REEF3D.tags
.codelite/refactoring.db
*.workspace.session
*.session
*.tags
tags
# Output folders
Release
Debug
bin
doc
obj
src/Makefile*
# Temporary files
*.db
*.d
*.o
*.pyc
*.json
*.tmp
# Other
src/*.txt
*.mk
*.batch_build
.DS_Store